.pre-payment-header {
    width: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.pre-payment-header>a {
    width: 40px;
    height: 40px;

    border-radius: 5px;

    background-color: #88888899;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s ease-in-out;
}

.pre-payment-header>a:hover {
    background-color: #888888;
}

.pre-payment-header>p {
    font-size: .9rem;
    font-weight: 500;

    color: white;
    text-transform: uppercase;

    margin-left: 1rem;
}

.event-info-sum-up {
    width: 50%;

    display: flex;
    flex-direction: row;

    gap: 2vw;
}

.event-info-sum-up>div>p {
    color: var(--light-color-gray);
    font-size: .8rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    font-weight: 500;

    margin: 0;

}

.event-info-sum-up>div {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

h2 {
    color: var(--light-color-gray);
    font-size: 1.2rem;
    font-weight: 500;

    margin: 0;

    width: 50%;

    text-transform: uppercase;
}

/* Móviles pequeños */
@media (max-width: 480px) {
    .pre-payment-header {
        width: 90%;

        position: sticky;
        top: 0vh;
        z-index: 10;

        background-color: rgb(16, 16, 16, .9);

    }

    .event-info-sum-up {
        width: 90%;
    }

    .event-info-sum-up>img {
        min-width: 100px;
        height: fit-content;
        max-height: 130px;
    }

    h2 {
        width: 90%;
        font-size: 1rem;
    }
}

/* Móviles grandes */
@media (min-width: 481px) and (max-width: 600px) {
    .pre-payment-header {
        width: 90%;

        position: sticky;
        top: 6vh;
        z-index: 10;

        background-color: rgb(16, 16, 16, .9);

    }

    .event-info-sum-up {
        width: 90%;
    }

    .event-info-sum-up>img {
        min-width: 80px;
        height: fit-content;
    }

    h2 {
        width: 90%;
        font-size: 1rem;
    }
}

/* Tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    .pre-payment-header {
        width: 75%;
    }

    .event-info-sum-up {
        width: 75%;
    }

    .event-info-sum-up>img {
        min-width: 90px;
        height: fit-content;
    }

    h2 {
        width: 75%;
        font-size: 1.1rem;
    }
}