.login-pop-up {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100dvh;

    background-color: rgb(16, 16, 16, 0.7);
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-pop-up>.login-pop-up-content {
    width: calc(40% - 4vw);

    padding: 2vh 2vw;

    display: flex;
    flex-direction: column;
    gap: 2vh;

    background-color: var(--backgroundColor);

    border-radius: 10px;

    position: relative;
}

.login-pop-up>.login-pop-up-content>.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;

    background: var(--light-color-gray);
    border: none;
    color: inherit;
    cursor: pointer;

    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.login-pop-up>.login-pop-up-content>h2 {
    width: 100%;
    text-align: center;
}

.login-pop-up>.login-pop-up-content>form {
    width: calc(100% - 2vw);

    padding: 2vh 1vw;
    background-color: var(--backgroundColor);
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

    gap: 2vh;
}

.login-pop-up>.login-pop-up-content>form>div {
    display: flex;
    flex-direction: column;

    gap: .5vh;
}

.login-pop-up>.login-pop-up-content>form>div>label {
    color: var(--light-color-gray);
    font-size: 0.8rem;

    text-transform: uppercase;

    margin: 0;
}

.login-pop-up>.login-pop-up-content>form>div>input {

    padding: 1vh 1vw;

    background-color: #404040;
    border: 1px solid var(--light-color-gray);
    border-radius: 5px;

    color: white;

    font-size: 1rem;
}

.login-pop-up>.login-pop-up-content>form>div>input:focus {
    outline: none;
    border-color: white;
}

.login-pop-up>.login-pop-up-content>form>div>.error-message {
    color: #d63f3b;
    font-size: 0.8rem;

    margin: 0;
    padding: 0;
}

.login-pop-up>.login-pop-up-content>form>button {
    padding: 1vh 1vw;

    max-height: 40px;
    max-width: 50%;

    align-self: center;
    justify-self: center;

    /* Azul */
    background-color: var(--blue-button-color);
    border: 1px solid var(--blue-button-color);
    border-radius: 5px;

    color: white;

    font-size: 1rem;

    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.login-pop-up>.login-pop-up-content>form>button:hover {
    background-color: var(--blue-button-color-hover);
    border: 1px solid var(--blue-button-color-hover);
}