.event-card {
    width: 50%;

    background-color: var(--backgroundColor);
    border-radius: 10px;

    display: flex;
    flex-direction: row;

    position: relative;

}

.venue-event-card {
    width: 100%;
}

.event-card>img {
    object-fit: cover;
    min-height: 120px;
    min-width: 126px;
    border-radius: 10px 0 0 10px;
}

.event-info {
    width: 94%;
    padding: 0 3%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    color: white;
}

.header-info {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.event-info>.header-info>.title {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
}

.event-extra-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 1vh;
}

.event-extra-info>p {
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    color: var(--light-color-gray);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.event-info>.date {
    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    padding: 3px 6px;

    background-color: rgb(128, 128, 128, .3);
    border-radius: 5px;

    font-size: .9rem;
    font-weight: 400;
    color: var(--light-color-gray);

    position: absolute;
    bottom: 5px;
    right: 5px;

    margin: 0;
}

/* Móviles pequeños */
@media (max-width: 480px) {
    .event-card {
        width: 95%;
        margin: 0 auto;
    }

    .event-card>img {
        min-height: 80px;
        min-width: 100px;
    }

    .event-info {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;

        gap: 2vh;

        padding-top: 2vh;
    }

    .event-info>.header-info>.title {
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0;
    }

    .event-extra-info>p {
        font-size: .9rem;
    }

    .event-info>.date {
        font-size: .9rem;

        position: static;
    }

    .event-extra-info {
        display: none;
    }

    .venue-event-card {
        width: 100%;
    }
}

/* Móviles grandes */
@media (min-width: 481px) and (max-width: 600px) {
    .event-card {
        width: 90%;
    }

    .event-card>img {
        min-height: 100px;
        min-width: 120px;
    }

    .event-info>.header-info>.title {
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0;
    }

    .event-extra-info>p {
        font-size: .9rem;
    }

    .event-info>.header-info>.date {
        font-size: .7rem;
    }

    .venue-event-card {
        width: 100%;
    }


}

/* Tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    .event-card {
        width: 75%;
    }

    .event-card>img {
        min-height: 110px;
        min-width: 140px;
    }

    .event-info>.header-info>.title {
        font-size: 1.3rem;
        font-weight: 600;
        margin: 0;
    }

    .event-extra-info>p {
        font-size: .8rem;
    }

    .event-info>.header-info>.date {
        font-size: .8rem;
    }

    .event-extra-info {
        gap: 1.5vh;
    }

    .venue-event-card {
        width: 100%;
    }
}